# Ignore InstaPy directory
docker-compose/InstaPy
InstaPy

# Ignore docker_quickstart.py
**/docker_quickstart.py
docker_quickstart.py

# Geckodriver log file
geckodriver.log
docker-compose/geckodriver.log

# virtualenv
venv/
ENV/

# Editors
.idea
.vscode
*.code-workspace
.bak